// Valores base
$fondo-base: blue;
$fondo-important: darkblue;
$fondo-warning: cyan;

$primary-font: Copperplate, "Copperplate Gothic Light", fantasy;
$primary-font-weight: normal;
$secondary-font: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
$secondary-font-weigth: normal;

$radio-borde: 4px;

$shadow-box: 16px 16px 16px 1px black;