@font-face {
  font-family: raleway-regular;
  src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: sometype-mono-regular;
  src: url("../fonts/Sometype_Mono/static/SometypeMono-Regular.ttf");
}

// Valores base
$fondo-base: blue;
$fondo-important: darkblue;
$fondo-warning: cyan;

$primary-font: raleway-regular, Arial, sans-serif;
$primary-font-weight: normal;
$secondary-font: sometype-mono-regular, Georgia, serif;
$secondary-font-weigth: normal;

$radio-borde: 4px;

$shadow-box: 16px 16px 16px 1px black;
